<div class="navbar-default sidebar" role="navigation"> 
  <div class="sidebar-nav navbar-collapse"> 
    <ul class="nav" id="side-menu"> 
      <li>
        <a href="javascript:;"><i class="iconfont icon-baojia"></i> 抢单<span class="iconfont arrow"></span></a> 
        <ul class="nav nav-second-level">
          <li>
            <a href="<%= constructInsideUrl('goods-source/index') %>">可抢货源</a>
          </li>
          <li>
            <a href="<%= constructInsideUrl('goods-source/already') %>">已抢货源</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;"><i class="iconfont icon-order-center"></i> 订单<span class="iconfont arrow"></span></a> 
        <ul class="nav nav-second-level">
          <li>
            <a href="<%= constructInsideUrl('order/index') %>">订单列表</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;"><i class="iconfont icon-fleet"></i> 车队管理<span class="iconfont arrow"></span></a> 
        <ul class="nav nav-second-level">
          <li>
            <a href="<%= constructInsideUrl('car/add') %>">添加车辆</a>
          </li>
          <li>
            <a href="<%= constructInsideUrl('car/index') %>">车辆列表</a>
          </li>
          <li>
            <a href="<%= constructInsideUrl('driver/add') %>">添加司机</a>
          </li>
          <li>
            <a href="<%= constructInsideUrl('driver/index') %>">司机列表</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;"><i class="iconfont icon-wallet"></i> 电子钱包<span class="iconfont arrow"></span></a>
        <ul class="nav nav-second-level"> 
          <li>
            <a href="<%= constructInsideUrl('wallet/add') %>">绑定新账号</a>
          </li>
          <li>
            <a href="<%= constructInsideUrl('wallet/index') %>">账号列表</a>
          </li>
          <li>
            <a href="<%= constructInsideUrl('wallet/modify-withdraw-password') %>">修改提现密码</a>
          </li>
          <li>
            <a href="<%= constructInsideUrl('wallet/discount') %>">车队优惠券汇总</a>
          </li>
          <li>
            <a href="<%= constructInsideUrl('wallet/total-log') %>">出入账明细</a>
          </li>
          <li>
            <a href="<%= constructInsideUrl('wallet/withdraw-log') %>">提现记录</a>
          </li>
        </ul>
      </li>
    </ul>
  </div> 
</div>